* {
  padding: 0;
  margin: 0;
}

.mask {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: rgba(0, 100, 194, 0.7);
  z-index: 1;
}

.page {
  background-image: url(/img/img.jpg);
  background-position: 0 0;
  background-size: cover;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.page .page__header {
  z-index: 1000;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background: white;
  color: rgba(0, 100, 194, 0.7);
  font-size: 1.5em;
}
.page .page__header .header__list {
  font-weight: bold;
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page .page__header .header__list:nth-child(2) {
  width: 20%;
  font-size: 0.5em;
  justify-content: space-evenly;
}
.page .page__header .header__list .header__item {
  cursor: pointer;
}
.page .page__header .header__list .header__item a {
  text-decoration: none;
  color: rgba(0, 100, 194, 0.7);
}
.page .main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr;
  padding-top: 4em;
  width: 100%;
}
.page .main .page__section {
  z-index: 999;
  display: flex;
}
.page .main .page__section .page__list {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.page .main .page__section .page__list .page__item {
  font-weight: bold;
  transform: translateY(100%);
  cursor: pointer;
}
.page .main .page__section .page__list .page__item:nth-child(1) {
  cursor: default;
}
.page .main .page__section .page__list .page__item:nth-child(1):hover {
  border-bottom: none;
}
.page .main .page__section .page__list .page__item:hover {
  border-bottom: 1px solid white;
}
.page .main .page__section .leftBox {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page .main .page__section .leftBox .leftBox__actualTime {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.page .main .page__section .leftBox .leftBox__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.page .main .page__section .leftBox .leftBox__info .info__icon {
  width: 15vw;
}
.page .main .page__section .leftBox .leftBox__info .info__icon img {
  width: inherit;
  height: inherit;
}
.page .main .page__section .leftBox .leftBox__info .info__weather {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}
.page .main .page__section .leftBox .leftBox__info .info__weather .weather__temperature {
  font-size: 4em;
  white-space: nowrap;
  font-weight: bold;
}
.page .main .page__section .leftBox .leftBox__info .info__weather .weather__temperature sup {
  font-size: 0.3em;
  position: relative;
  top: -15px;
}
.page .main .page__section .leftBox .leftBox__info .info__weather .weather__condition {
  font-size: 1em;
}
.page .main .page__section .leftBox .leftBox__info .info__weather .weather__wind {
  font-size: 0.8em;
}
.page .main .page__section .leftBox .leftBox__info .info__weather .weather__more {
  color: rgb(248, 201, 70);
  font-weight: bold;
}
.page .main .page__section .leftBox .leftBox__info .leftBox__air {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 7px;
  height: 100%;
}
.page .main .page__section .leftBox .leftBox__info .leftBox__air .air__uv {
  font-size: 1em;
  font-weight: bold;
}
.page .main .page__section .leftBox .leftBox__info .leftBox__air .air__Ultraviolet {
  background: rgb(248, 201, 70);
  text-align: center;
  padding: 5px;
  color: black;
  font-weight: bold;
}
.page .main .page__section .leftBox .leftBox__info .leftBox__air .air__pm {
  font-size: 0.6em;
  font-weight: bold;
}
.page .main .page__section .leftBox .leftBox__info .leftBox__air .air__station {
  font-size: 0.6em;
  font-weight: bold;
}
.page .main .page__section .leftBox .leftBox__info .leftBox__air .air__more {
  color: rgb(248, 201, 70);
  font-weight: bold;
}
.page .main .page__section .centerBox {
  width: 25%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.page .main .page__section .centerBox .centerBox__night {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.page .main .page__section .centerBox .centerBox__night .night__title {
  font-size: 2.5em;
}
.page .main .page__section .centerBox .centerBox__night .night__icon {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .main .page__section .centerBox .centerBox__night .night__icon img {
  width: 80px;
  height: 80px;
}
.page .main .page__section .centerBox .centerBox__night .night__temperature {
  text-align: center;
  font-size: 1.5em;
  width: 60px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
}
.page .main .page__section .centerBox .centerBox__night .night__condition {
  font-size: 1.5em;
  text-align: center;
}
.page .main .page__section .centerBox .centerBox__day {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.page .main .page__section .centerBox .centerBox__day .day__title {
  font-size: 2.5em;
}
.page .main .page__section .centerBox .centerBox__day .day__icon {
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .main .page__section .centerBox .centerBox__day .day__icon img {
  width: 80px;
  height: 80px;
}
.page .main .page__section .centerBox .centerBox__day .day__temperature {
  text-align: center;
  font-size: 1.5em;
  width: 60px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
}
.page .main .page__section .centerBox .centerBox__day .day__condition {
  text-align: center;
  font-size: 1.5em;
}
.page .main .page__section .rightBox {
  width: 45%;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page .main .page__section .rightBox .page__graph {
  padding: 10px;
  width: 550px;
  height: 350px;
  background: white;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page .main .page__section .rightBox .page__graph #canvas {
  width: inherit;
  height: inherit;
  border: 1px solid red;
}
.page .main .page__section .rightBox .boxButton {
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
}
.page .main .page__section .rightBox .boxButton button {
  font-size: 1em;
  font-weight: bold;
  border: none;
  color: rgb(0, 100, 194);
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.page .main .page__section .rightBox .boxButton button:hover {
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.4);
}
.page .main__block h1 {
  margin-left: 80px;
  font-size: 2.5em;
}
.page .page__footer {
  background: white;
  height: 80px;
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
}/*# sourceMappingURL=theme.css.map */